.box {
  border-style:solid;
  border-width: 1px 1px 1px 7px !important;
  margin: 10px;
  padding: 10px;
}
.mainContent {
  border: 0px;
  margin: 0px;
  width: 100%;
}
.comment-it, .comment,.comment ul, .comment li, .comment span, .wrapper_top, .wrapper_bottom, .systemTitle, .if_show, .if_hide {
  display: none;
  height: 1px;
  overflow: hidden;
}
.cut {
  border-style:solid;
  border-width: 1px 0px 1px 0px;
}
#swimming_panel{
	display: none;
}
